<%- include('header'); -%>

    <!--listTitle is from app.js ->res.render-->
    <!-- <% if(listTitle==="Saturday"|| listTitle==="Sunday" ){ %>
        <h1 style="color: purple;"><%= listTitle %> Todo List</h1>
    <% } else { %>
        <h1 style="color: blue;"><%= listTitle %> Todo List</h1>
    <% } %> -->
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <% for(var i=0; i< newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=newListItems[i]%>
                </p>
            </div>
            <% } %>

                <form action="/" method="post" class="item">
                    <input type="text" autocomplete="off" name="Todo" placeholder="What do you want Todo?">
                    <button type="submit" name="typeOfList" value=<%=listTitle %> >+</button>
                </form>
    </div>

<%- include('footer'); -%>